body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}
.app-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie{
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255,255, 0.3);
    margin: 15px;
}

.details{
    width: 300px;
    height: 486px;
    position: absolute;
    top:0px;
    transform: translateX(0,8%);
    background-color: rgba(0,0,1,0.5);
    display: none;
}

.details p{
    color:white;
    padding: 15px;
    word-wrap:break-word;
}

.movie:hover .details{
    display:block;
}
.movie_poster{
    width:300px;
    height: 400px;
}
.movie_info{
    height: 80px;
}
.movie_info p{
    padding: 5px;
    display: inline-block;
    font-size:small;
}

.title{
    width:180px;
    float:left;
    text-align: left;
}
.title p {
    word-wrap: break-word;
}
.vote_average{
    width: 30px;
    float: right;
    text-align: right;
}

.header_wrapper{
    width:auto;
    height:150px;
    background-color: white;
    display: flex;
}

.container{
    display: flex;
}
.container span{
    margin: 0 6px;
}

.loginButton{
    width:150px;
    height:40px;
    display: flex;
}

